<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация пользователя &ndash; SearchForEmployment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a data-th-href="@{/greeting/index}">&larr; На главную страницу</a>
<h1>Регистрация нового пользователя</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<div data-th-if="${emailError}">
    <ul>
        <li data-th-text="${emailError}"></li>
    </ul>
</div>
    <form method="post" data-th-action="@{/greeting/register}"  >
        <label>
            Почта:<br>
            <input type="email" name="email" data-th-value="${user?.email}" placeholder="email@gmail.com">
        </label> <br>
        <label>
            Пароль:<br>
            <input type="password" name="password"  placeholder="password">
        </label> <br>
        <label>
            Фамилия:<br>
            <input type="text" name="lastName" data-th-value="${user?.lastName}" placeholder="Иванов">
        </label> <br>
        <label>
            Имя:<br>
            <input type="text" name="name" data-th-value="${user?.name}" placeholder="Иван">
        </label> <br>
        <label>
            Возраст:<br>
            <input type="number" name="age" data-th-value="${user?.age}"  placeholder="18">
        </label> <br>
        <label>Роль:
            <br>
        </label>
        <select name="role" >
            <option value="EMPLOYEE">Работник</option>
            <option value="EMPLOYER">Работодатель</option>
        </select> <br>
        <!--<label>Город <br> </label><input th:field="*{country}" type="text" placeholder="Kazan"> <br>-->
        <button type="submit">
            Зарегистрироваться
        </button>
    </form>
</body>
</html>