<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Добро пожаловать!'" />
    <form th:object="${user}"  th:action="@{/greeting/register}" method="post" >
        <label>Login <br> </label><input th:field="*{login}" type="text" placeholder="login"> <br>
        <label>Password <br> </label><input th:field="*{password}" type="password" placeholder="password"> <br>
        <label>Email <br> </label><input th:field="*{email}" type="email" placeholder="email"> <br>
        <button type="submit">
            Зарегистрироваться
        </button>
    </form>
</body>
</html>